/* Sensible Defaults */
body, html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

/* Parent Grid */
.parent-grid{
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 10% 80%;
}

/* NAV Position and Styling */
.nav-grid{
    display: grid;
    grid-template-columns: 15% 40% 30% 15%;
    border-bottom: purple 1px solid;
}

.links{
    display: flex;
    align-items: center;
}

.links > a{
    margin: 5px;
    text-decoration: none;
    color: black;
}

.search-input{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 100%;
    border: 0;
    height: 50%;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu > button{
    border: 1px solid purple;
    border-radius: 50%;
    background-color: purple;
    color: white;
    padding: 10px 1px 10px 1px;
}

/* Child Grid - Positioning*/
.grid-3-column{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-gap: 10px;
}

.bottom-article{
    margin-top: 50px;
}

/* Image Sizing */
.AVClubLogo{
    width: 90%;    
    height: 90%;
}

.AVTVClub-logo{
    height: 70px;
    width: 325px;
}

.largeArticleMedia{
    height: 350px;
    width: 100%;
}

.RickMorty{
    height: 170px;
    width: 95%;
}

/* Text Styling */
h4{
    color: purple;
}

.author{
    opacity: 0.5;
    font-size: 0.8rem;
}

p, h3, h4{
    margin-top: 7px;
    margin-bottom: 7px;
}

/* Misc */
main{
    border-bottom: 2px solid purple;
}